/*
New colors
blue        rgba(0, 116, 228, 1)
light blue  rgba(226, 239, 252, 1)
dark text   rgba(51, 51, 51, 1)
info frame  rgba(51,51,51,.85)
white       rgba(255, 255, 255, 1)
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgba(51, 51, 51, 1);
  background: rgba(255, 255, 255, 1);
  font-family: 'Franklin Gothic Medium','Franklin Gothic','ITC Franklin Gothic',Arial,sans-serif;
}
* {
  margin: 0;
}
.wrapper {
  height: 100%;
}
header {
  overflow: auto;
  position: relative;
  text-align: center;
  height: 48px;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 116, 228, 0.6);
  border-bottom: solid 1px rgba(51, 51, 51, 1);
}
header h1 {
  margin: auto;
  margin-top: 7px;
  font-weight: 100;
  letter-spacing: 7px;
}
#main-container {
  height: calc(100% - 48px);
  width: 100%;
  overflow: auto;
  position: relative;
}
#map {
  height: calc(100% - 115px);
  width: 100%;
}
#info-frame {
  position: absolute;
  width: 100%;
  height: 185px;
  bottom: -70px;
  padding: 10px;
  height: 185px;
  width: 100%;
  overflow: scroll;
  color: rgb(40, 48, 24);
  background: rgba(226, 239, 252, .7);
  box-sizing: border-box;
}
#info-frame.active {
  margin-top: -185px;
  z-index: 1000;
  transition: 1s;
  bottom: 115px;
}
#info-frame.close {
  bottom: -70px;
  transition: 1s;
}
@media screen and (min-width: 600px) {
  #info-frame {
    width: 30%;
    height: calc(100% - 115px);
    right: 30%;
    bottom: 115px;
  }
  #info-frame.active {
    top: 0;
    right: 0;
    margin-top: 0;
  }
  #info-frame.close {
    right: -30%;
    bottom: 115px;
    transition: 1s;
  }
}
#info-frame .fa {
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
}
#info-frame .fa:hover {
  color: rgba(0, 116, 228, 1);
}
#info-frame h2, #info-frame h3, #info-frame h4 {
  font-size: 1em;
}
#info-frame > div {
    font-size: 0.8em;
}
#info-frame ul {
  list-style: none;
  padding: 0;
}
#info-frame > div thead > tr > th:nth-child(2) {
  border-right: 1px solid rgba(0, 116, 228, 0.2);
}
#info-frame > div tr td {
  border-right: 1px solid rgba(0, 116, 228, 0.2);
  border-bottom: 1px solid rgba(0, 116, 228, 0.2);
  padding: 5px;
  vertical-align: middle;
}
#info-frame > div tr td:last-child {
  border-right: none;
}
#info-frame > div tr:last-child td {
    border-bottom: none;
}
footer {
  clear: both;
  height: 115px;
  border-top: 1px solid rgba(0, 116, 228, 1);
  background: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 2000;
}
footer ul {
  list-style: none;
  width: 100%;
  padding: 0;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}
footer li {
  text-align: center;
  cursor: pointer;
  width: 20%;
  flex-grow: 1;
}
footer li span.text {
  display: block;
  font-size: 0.7em;
  padding: 13px 0 15px;
}
footer li:hover span.text, footer li.active span.text {
  color: rgba(0, 116, 228, 1);
}
footer li span.icon {
  display: block;
  margin: auto;
  height: 60px;
  width: 60px;
  background: rgba(226, 239, 252, 1);
}
footer .fa {
  font-size: 45px;
  margin-top: 9px;
}
footer li:hover span.icon, footer li.active span.icon {
  color: rgba(226, 239, 252, 1);
  background: rgba(0, 116, 228, 1);
}
