html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0eceb;
  font-family: 'Franklin Gothic Medium','Franklin Gothic','ITC Franklin Gothic',Arial,sans-serif;
}
* {
  margin: 0;
  color: #283018;
}
.wrapper {
  height: 100%;
}
header {
  overflow: auto;
  position: relative;
  text-align: center;
  height: 48px;
  border-bottom: solid 1px #283018;
}
header label {
  font-size: 35px;
  position: absolute;
  top: 0;
  left: 0;
}
header h1 {
  margin: auto;
  margin-top: 7px;
  font-weight: 100;
}
main {
  height: calc(100% - 48px);
  width: 100%;
  overflow: auto;
  position: relative;
}
#map {
  height: calc(100% - 115px);
  width: 100%;
}

#info-frame {
  position: absolute;
  bottom: -70px;
}
#info-frame.active {
  width: 100%;
  height: 185px;
  overflow: scroll;
  margin-top: -185px;
  background: rgb(240, 236, 235);
  background: rgba(240, 236, 235, 0.75);
  z-index: 5000;
  transition: 1s;
  bottom: 115px;
}
@media screen and (min-width: 600px) {
  #info-frame {
    right: -30%;
    bottom: 115px;
  }
  #info-frame.active {
    height: calc(100% - 115px);
    width: 30%;
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }
}
footer {
  height: 115px;
  clear: both;
}
footer ul {
  list-style: none;
  width: 100%;
  padding: 0;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}
footer li {
  text-align: center;
  cursor: pointer;
  width: 20%;
  flex-grow: 1;
}
footer li span.text {
  display: block;
  font-size: 10px;
  padding: 13px 0 15px;
}
footer li:hover span.text {
  color: #aa863a;
}
footer li.active span.text {
  color: #aa863a;
}
footer li span.icon {
  display: block;
  margin: auto;
  height: 60px;
  width: 60px;
  background-color: #e6e2e1;
}
footer li:hover span.icon {
  background: #aa863a;
}
footer li.active span.icon {
  background: #aa863a;
}

